.navbar {
    position: fixed;
    overflow: hidden;
    background-color:#362594;
    color: white;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #444444;
}

#leftSpan {
    float:left;
    color: white;
    font-size: 14px;
    touch-action: unset;
}

#leftSpan:hover {
    color: white;
}

#leftSpan:active {
    color: white;
    background-color: #362594;
}

.topnav span {
    padding: 20px 10px 20px 10px; 
    float: right;
    background-color: #362594;
    color:#CCCCCC;
    display: block;
}

.topnav span:hover{
    color: #FFFFFF;
}

.topnav span:active{
    background-color: #5a2da4;
    color: #FFFFFF;
}

.top_padding {
    height: 7em;
}

@media (min-width: 700px) {

    .topnav {
        margin-right: 2em;
    }

    #leftSpan {
        font-size: 24px;
        margin-left: 2em;
    }
}


