
.card {
    color: #555555;
    max-width: 360px;
    width: 95%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.438);
    transition: 0.3s;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #F4F4F4;
    height: 100px;
}

.card_open {
    color: #555555;
    max-width: 360px;
    width: 95%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.438);
    transition:  0.3s;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #F4F4F4;
    height: 320px;
}

.edit_container_open {
    height: 220px;
    border-radius: 0 0 3px 3px;
    transition: 0.9s;
    z-index: -1;
    padding: 10px;
    
}

.edit_container_closed {
    border-radius: 0 0 3px 3px;
    padding: 10px;
    opacity: 0;
    transition: 0.1s;
}


/*EDIT FORM INSIDE THE EDIT CONTAINER*/

.group 	 { 
    margin-top: 20px;
    position:relative; 
    margin-bottom:30px; 
  }
  input 				{
    font-size:14px;
    padding:10px 10px 10px 5px;
    display:block;
    width:95%;
    border:none;
    border:1px solid #CDCDCD;
    border-radius: 3px;
    background-color: #fafafa;
    color: #555555;
  }
  input:focus 		{ 
      outline:none;
      border-bottom: 2px solid #41c300;
      transition: 0.1s
 }
  
  label 				 {
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:15px;
    top:12px;
    letter-spacing: 1px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#41c300;
  }
  
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.form_button {
    margin-left: 70%;
    background-color: #41c300;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.438);
    border: none;
    transition: 0.3s;
}

.form_button:hover {
    background-color: #61d800;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.438);
    transition: 0.3s;
}

#placeholder {
    float: left;
    height: 100px;
    width: 120px;
    padding-right: 10px;
    border-radius: 3px 0 0 3px;
}

.container {
    height: 100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.438);
    background-color: white;
    display: flex;
}

.property_container {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

#id {
    padding-top: 10px;
    font-size: 12px;
}

#name {
    padding: 10px 0px 5px 0px;
    font-size: 18px;
    font-family: Roboto;
    letter-spacing: 1px;
}

.icon_Container {
    width: 150px;
    margin-top: 30px;
    margin-right: 20px;
    float: right;
    z-index: 1;
    
}

#edit {
    padding: 5px;
    float: right;
    width: 30px;
}

#delete {
    padding: 5px;
    float: right;
    width: 30px;
}

#edit:hover {
    
    background-color: #CCCCCC;
    border-radius: 3px;
}

#delete:hover {
    
    background-color: #CCCCCC;
    border-radius: 3px;
}

.positive {
    font-size: 14px;
    padding: 0px 0px 5px 0px;
    color: green;
}

.negative {
    font-size: 14px;
    padding: 0px 0px 5px 0px;
    color: red;
}

.neutral {
    font-size: 14px;
    padding: 0px 0px 5px 0px;
    color: #555555;
}
