.scroll_container {
}

.example-header-image {
    background-image: url('/assets/img/placeholder.png');
    background-size: cover;
}

.userCard {
    margin: auto;
    margin-top: 2%;
    width: 88%;
    padding-bottom: 0px;
}

.positive {
    font-size: 16px;

    margin-left: 1px;
    color: green;
}

.negative {
    font-size: 16px;
    margin-left: 1px;
    color: red;
}

.neutral {
    font-size: 16px;
    margin-left: 1px;
    color: #555555;
}

.floatingButton{
	position:fixed;
	bottom:10px;
	right: 10px;
    z-index: 1;
}

.floatingIcon {
    margin-left: -5px;
    margin-top: -2px;
}
