<div class="header" >
    <h1>The calendar view</h1>
        <p>This view is used to show all the registrated drives in a calendar.</p>     
</div>
<div class="calendar_container">
    <div class="calendar_header">
        <span id="monthButton">&#10094;</span>
        <span>March 2020</span>
        <span id="monthButton">&#10095;</span>
    </div>
    <table class="table_content">
        <th class="weekdays" *ngFor="let day of days">
            <span>{{day}}</span>
        </th>
        <tr class="days" *ngFor="let week of weeks">
            <td *ngFor="let day of week">{{day}}</td>
        </tr>
        <br>
    </table>
</div>
<br>
