<div class="calendar_container">
    <div class="calendar_header">
        <span (click)="changeMonth(1)" id="monthButton">&#10094;</span>
        <span>{{nameOfMonth}} {{currentYear}}</span>
        <span (click)="changeMonth(2)" id="monthButton">&#10095;</span>
    </div>
    <table class="table_content">
        <th class="weekdays" *ngFor="let day of days">
            <span>{{day}}</span>
        </th>
        <tr class="days" *ngFor="let week of weeks">
            <td (click)="showDriveOnClick(day)" *ngFor="let day of week" [ngClass] ="{
                'day_cell_empty' : day == '',
                'day_cell' : (day != '' && markDriveDates(day) === false),
                'day_cell_with_date' : (day != '' && markDriveDates(day) === true)
            }">{{day}}</td>
        </tr>
        <br>
    </table>
</div>
<div class="drive_container">
    <h2 *ngIf="driver == null">There have been no drives for the selected date.</h2>
    <div class="driverInfo" *ngIf="driver != null;">
        <span >Driver:</span>
        <span class="nameDriver">{{driver.name}}</span>
        <span class="balance">{{driver.balance | currency : '€' : 'symbol': '1.2-2' : 'de-DE'}}</span>
    </div>
    <div class="passengerInfo" *ngFor="let passenger of passengers; let i = index">
        <span>Passenger {{i+1}}:</span>
        <span class="namePassenger">{{passenger.name}}</span>
        <span class="balance">{{passenger.balance | currency : '€' : 'symbol': '1.2-2' : 'de-DE'}}</span>
    </div>
</div>
<div (click)="openDialog(addDriverWindow)" *ngIf="isAddButtonActive == true" class="floatingButton">
        <img src="assets/img/add-24px.svg">
</div>

<div id="addDriverWindow">
    <div id="addDriverWindow_content">
        <h3>Add new Drive</h3>
        <p>Please choose the driver.</p>
        <div class="group">
            <div *ngFor="let user of allUsers; let i = index">  
                <input class="driverCheckboxes" (click)="checkboxOnClick(i, 'driverCheckboxes');" type="checkbox">
                <label >{{user.name}}</label>
            </div>
                <br>
                <span (click)="closeDialog(addDriverWindow)" class="form_button" style="background-color: grey; margin-left: 25%;">Cancel</span>
                <span (click)="evaluateCheckboxes('driverCheckboxes'); closeDialog(addDriverWindow); openDialog(addPassengersWindow)" class="form_button" style="margin-left: 10%;">Accept</span>
            </div>
    </div>
</div>
<div id="addPassengersWindow">
    <div id="addPassengersWindow_content">
        <h3>Add new Drive</h3>
        <p>Please choose the passengers.</p>
        <div class="group">
            <div *ngFor="let user of allUsers; let i = index">  
                <input *ngIf="checkIfEqual(user) == false" class="passengerCheckboxes" type="checkbox">
                <label *ngIf="checkIfEqual(user) == false" >{{user.name}}</label>
            </div>
                <br>
                <span (click)="closeDialog(addPassengersWindow)" class="form_button" style="background-color: grey; margin-left: 25%;">Cancel</span>
                <span (click)="evaluateCheckboxes('passengerCheckboxes'); closeDialog(addPassengersWindow); addDrive()" class="form_button" style="margin-left: 10%;">Accept</span>
            </div>
    </div>
</div>
<br>
