.header {
    text-align: center;
    margin-bottom: 2em;
}

.calendar_container {
    color: #555555;
    transition:  0.3s;
    border-radius: 3px 3px 0 0;
    background-color: white;
    margin: auto;
    max-width: 360px;
}

.calendar_header {
    background-color: white;
    border-radius: 3px 3px 0 0 ;
    width: 100%;
    height: 3em;
    display: table;
    border-bottom: 1px solid #EFEFEF;
    
}

.calendar_header span{
    color: #555555;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
}


#monthButton {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
}

#monthButton:hover {
    background-color: #EFEFEF;
    border-radius: 3px 3px 0 0;
    
}

.table_content {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.table_content th {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 14px;
    width: 30px;
}

.days {
    text-align: center;
    font-size: 12px;
    height: 45px;

}

.day_cell_empty:hover {
    background-color: white;
    color: white;
}

.day_cell:hover {
    background-color: #41c300;
    color: white;
    border-radius: 5em;
}

.day_cell_with_date {
    color: #41c300;
    font-size: 18px; 
    font-weight: bold;
}

.day_cell_with_date:hover {
    background-color: #41c300;
    color: white;
    border-radius: 5em;
}


.drive_container{
    width: 90%;
    margin: auto;
    max-width: 500px;
    padding-top: 10px;
    font-size: 16px;
    color: #555555;
}

.drive_container h2 {
    color: #555555;
    text-align: center;
    font-size: 16px;
    padding-top: 2em;
}

.balance {
    float: right;
}

.nameDriver {
    margin-left: 97px;
}

.namePassenger {
    margin-left: 50px;
}

.driverInfo {
    background-color: #41c300;
    color: white;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.438);
}

.passengerInfo {
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.438);
}

.floatingButton{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#41c300;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.138);
    z-index: 1;
}

.floatingButton img {
    margin-top: 15px;
    margin-left: -1px;
    height: 30px;
    
}

.floatingButton:hover {
    background-color: #61d800;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.238);
    transition: 0.3s;
}